body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro';
}

.btn-xl {
  padding: 1.25rem 2.5rem;
}

.content-section {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
}

.content-section-heading h2 {
  font-size: 3rem;
}

.content-section-heading h3 {
  font-size: 1rem;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

/* Map */
.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%;
  }
}

.map iframe {
  pointer-events: none;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  line-height: 45px;
}

.scroll-to-top:focus, .scroll-to-top:hover {
  color: white;
}

.scroll-to-top:hover {
  background: #343a40;
}

.scroll-to-top i {
  font-weight: 800;
}

.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-master.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.masthead h1 {
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
  }
  .masthead h1 {
    font-size: 5.5rem;
  }
}

/* Side Menu */
#sidebar-wrapper {
  position: fixed;
  z-index: 2;
  right: 0;
  width: 250px;
  height: 100%;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  transform: translateX(250px);
  background: #1D809F;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li.sidebar-nav-item a {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 15px;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 1.2rem;
  background: rgba(52, 58, 64, 0.1);
  height: 80px;
  line-height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

.sidebar-nav > .sidebar-brand a {
  color: #fff;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.menu-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  width: 50px;
  height: 50px;
  text-align: center;
  color: #fff;
  background: rgba(52, 58, 64, 0.5);
  line-height: 50px;
  z-index: 999;
}

.menu-toggle:focus, .menu-toggle:hover {
  color: #fff;
}

.menu-toggle:hover {
  background: #343a40;
}

.service-icon {
  background-color: #fff;
  color: #1D809F;
  height: 7rem;
  width: 7rem;
  display: block;
  line-height: 7.5rem;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

.callout {
  padding: 15rem 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../img/bg-callout.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.callout h2 {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  max-width: 30rem;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}

footer.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

footer.footer .social-link {
  display: block;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #1D809F;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
  background-color: #155d74;
  text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  pointer-events: none;
}

.folder-section {
  background: #E5E5E3;
}

.grid {
  flex: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.grid__item {
  padding: 3em;
}

/* Folder */
.folder {
  position: relative;
  z-index: 100;
  width: 6em;
}

.folder__feedback {
  position: absolute;
  width: calc(0.6 * 6em);
  height: calc(0.6 * 6em);
  border-radius: 50%;
  background: #181a1c;
  top: 50%;
  left: 50%;
  margin: calc(calc(0.6 * 6em) / -2 + calc(calc(0.8 * 6em) - calc(0.7 * 6em)) / 2) 0 0 calc(calc(0.6 * 6em) / -2);
  pointer-events: none;
  opacity: 0;
}

.folder__icon {
  position: relative;
  width: 100%;
  height: calc(0.8 * 6em);
  cursor: pointer;
}

.folder__icon--perspective {
  perspective: 800px;
}

.folder__icon-img {
  backface-visibility: hidden;
  transform-origin: 50% 100%;
}

.folder__icon-img,
.folder__icon-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.folder__icon--perspective .folder__icon-img,
.folder__icon--perspective .folder__icon-svg {
  transform-style: preserve-3d;
}

.folder__icon-svg {
  fill: currentColor;
}

.folder__icon-svg--deco {
  color: #76767f;
  width: calc(6em / 3.5);
  height: calc(6em / 3.5);
  top: 50%;
  left: 50%;
  margin: calc( (calc(6em / 3.5) / -2) + calc(calc(0.8 * 6em) - calc(0.7 * 6em)) / 2) 0 0 calc(calc(6em / 3.5) / -2);
}

/* Inner paper sheets */
.folder__icon-deco {
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: calc(6em - 4px);
  height: calc(calc(0.7 * 6em) - 4px);
  border-radius: calc(6em / 10);
  background-color: #fff;
}

.folder__preview {
  pointer-events: none;
  position: absolute;
}

.folder__preview--thumbs {
  width: calc(0.6 * 6em);
  height: calc(0.6 * 6em);
  top: calc(calc(0.8 * 6em) + calc(calc(0.8 * 6em) - calc(0.7 * 6em)) / 2 - calc(0.6 * 6em) / 2);
  left: calc(6em / 2 - calc(0.6 * 6em) / 2);
}

.folder__preview--text {
  position: absolute;
  left: 100%;
  top: calc(calc(0.8 * 6em) - calc(0.7 * 6em));
  padding: 0 2em;
  opacity: 0;
}

.folder__preview--magnifier {
  top: 50%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  align-content: space-between;
  left: 50%;
  background: #fff;
  width: calc(calc(0.6 * 6em) * 5);
  height: calc(calc(0.6 * 6em) * 5);
  margin: calc(calc(0.6 * 6em) * 5 / -2) 0 0 calc(calc(0.6 * 6em) * 5 / -2);
  padding: 3.5em;
  border-radius: 50%;
  opacity: 0;
}

.folder__preview--bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.folder__thumb {
  max-width: 100%;
  display: block;
  position: absolute;
  opacity: 0;
}

.folder__detail {
  margin: 0;
}

.folder__detail-svg {
  width: 2em;
  height: 2em;
  position: relative;
  fill: #ddd;
}

.folder__detail-svg--gif {
  fill: #5cc7be;
}

.folder__detail-svg--txt {
  fill: #b8d8fb;
}

.folder__detail-svg--mp3 {
  fill: #fbcf7b;
}

.folder__detail-text {
  display: block;
  font-size: 68.5%;
}

.folder__caption {
  position: relative;
  display: inline-block;
  line-height: 1.15;
  margin: 0.75em 0 0;
  font-size: calc(0.16 * 6em);
}

/* Dummy */
.dummy {
  position: relative;
  flex: none;
  pointer-events: none;
}

.dummy::after {
  content: '';
  position: relative;
  display: block;
  margin: 0 0.35em;
  width: calc(6em * 0.6);
  height: calc(0.16 * 6em);
  background: currentColor;
  opacity: 0.5;
}

.dummy svg {
  fill: currentColor;
  opacity: 0.3;
  display: block;
  width: 6em;
  height: calc(0.8 * 6em);
  margin-bottom: 0.75em;
}

/* ravi */
.content--ravi {
  background-color: #e6e6e4;
  color: #c3c3b6;
}

.content--ravi::after {
  color: #F7230C;
}

.folder--ravi .folder__icon-img--back {
  color: #F7230C;
}

.folder--ravi .folder__icon-img--cover {
  color: #FF5E4D;
}

.folder--ravi .folder__icon-svg--deco {
  color: #fff;
}

.folder--ravi .folder__caption {
  color: #F7230C;
}

.folder--ravi .folder__feedback {
  background-color: #fff;
}

.folder--ravi .folder__preview--thumbs {
  width: 75px;
  height: 65px;
  top: calc((calc(0.8 * 6em) + calc(calc(0.8 * 6em) - calc(0.7 * 6em))) / 2 - 65px / 2);
  left: calc(6em / 2 - 75px / 2);
}

@media screen and (max-width: 42em) {
  .dummy {
    opacity: 0;
  }
  .codrops-header {
    height: auto;
    min-height: 0;
    padding: 12.5vh 0.5em;
  }
  .codrops-header__title {
    font-size: 1.5em;
  }
  .grid__item {
    padding: 0;
  }
}

a {
  color: #1D809F;
}

a:hover, a:focus, a:active {
  color: #155d74;
}

.btn-primary {
  background-color: #1D809F !important;
  border-color: #1D809F !important;
  color: #fff !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #155d74 !important;
  border-color: #155d74 !important;
}

.btn-secondary {
  background-color: #ecb807 !important;
  border-color: #ecb807 !important;
  color: #fff !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #ba9106 !important;
  border-color: #ba9106 !important;
}

.btn-dark {
  color: #fff !important;
}

.btn {
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
  font-weight: 700;
}

.bg-primary {
  background-color: #1D809F !important;
}

.text-primary {
  color: #1D809F !important;
}

.text-secondary {
  color: #ecb807 !important;
}
